<h1> Links </h1>

<ul id='links'>
  <% @links.each do |link| %>
  <% if link.tags.collect(&:name).pop == 'bubbles' %>
    <li>
      Title: <%= link.title %>
      URL:   <%= link.url   %>
    </li>
    <% end %>
  <% end %>
</ul>
