<h1>Sign up</h1>

<form action="/welcome" method="post">
	Email address: <br>
	<input type="text" name="email"><br>
	Password: <br>
	<input type="text" name="password"><br>
  <br>
	<input type="submit" value="Submit">
</form>